body {
	overflow: hidden;
	//position: relative;
}
#backdrop {
	display: none;
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: rgba($color: #000000, $alpha: 0.4);
	z-index: 2000;
	#modal {
		width: 400px;
		height: 300px;
		margin: 35vh auto;
		.card-body {
			overflow-y: scroll;
		}
		.card-footer {
			text-align: right;
		}
		#modalConfirm {
			display: none;
		}
	}
}

aside {
	transition: 100ms all;
	position: absolute;
	width: 400px;
	left: -400px;
	height: 100vh;
	background-color: #eee;
	z-index: 100;
	select {
		height: 91vh !important;
		option {
			&:checked {
				background-color: white;
				color: black;
			}
			padding: 4px;
		}
	}
	#employeeList {
		padding: 0px;
		overflow-y: scroll;
		overflow-x: hidden;
		height: 91vh !important;
		.list-group-item {
			//margin: 1px;

			box-sizing: border-box;
			cursor: pointer;
			text-align: left;
			width: 100%;
			overflow-x: hidden;
			padding: 5px 10px;
			// &:hover {
			// 	background-color: darkslategray;
			// 	color: white;
			// }
		}
		.selected {
			border-bottom: 5px solid orange;
		}
		.edited {
			background-color: peru;
			color: white;
		}
	}
}
main {
	.changed {
		border: 2px solid peru;
	}
	display: block;
	float: right;
	transition: 100ms width;
	height: 60vh;
	padding-right: 10px;
	input[name='tabs'] + label {
		cursor: pointer;
	}
	label {
		padding: 5px;
	}
	textarea {
		resize: vertical;
	}

	section {
		label {
			white-space: nowrap;
			overflow: hidden;
		}
		height: 100%;
		padding-right: 10px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
}
main::after {
	content: ' ';
	clear: both;
}
header {
	.changed {
		border: 2px solid peru;
	}
	button {
		width: 80px;
	}
	display: block;
	float: right;
	transition: 100ms width;
	overflow-y: auto;
	height: 35vh;
	padding: 10px 20px;
	label {
		//white-space: nowrap;
		//overflow: hidden;
		padding: 5px;
	}
}
footer {
	display: block;
	float: right;
	transition: 100ms width;
	height: 5vh;
	width: 100vw;
}
