body,
html {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #ddd;
}
main {
	position: relative;
	.list-group {
		margin: auto;
		width: 600px;
		height: 100vh;
		.list-group-item {
			&:hover {
				background-color: #444;
				color: #ddd;
			}
		}
	}
}
